Repository primer/brand, pull requests merged in 2023-01, with the labels that each got.

#153 docs: add security.md
  .github/security.md
Labels: skip changeset

#158 Add SectionIntro component
  .changeset/slow-flies-arrive.md
  apps/docs/content/components/SectionIntro.mdx
  apps/docs/src/@primer/gatsby-theme-doctocat/nav.yml
  package-lock.json
  packages/react/src/Button/Button.tsx
  packages/react/src/CTABanner/CTABanner.tsx
  packages/react/src/SectionIntro/SectionIntro.features.stories.tsx
  packages/react/src/SectionIntro/SectionIntro.module.css
  packages/react/src/SectionIntro/SectionIntro.module.css.d.ts
  packages/react/src/SectionIntro/SectionIntro.stories.tsx
  packages/react/src/SectionIntro/SectionIntro.test.tsx
  packages/react/src/SectionIntro/SectionIntro.tsx
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-Aligned-Center-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-Default-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-Heading-Only-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-Playground-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-With-Action-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-With-Description-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-With-Secondary-Action-1-linux.png
  packages/react/src/SectionIntro/SectionIntro.visual.spec.ts-snapshots/Visual-Comparison-SectionIntro-SectionIntro-With-Subtle-Action-1-linux.png
  packages/react/src/SectionIntro/index.ts
  packages/react/src/css/utilities.css.d.ts
  packages/react/src/index.ts
  packages/react/src/list/OrderedList/OrderedList.visual.spec.ts
  packages/react/src/list/OrderedList/OrderedList.visual.spec.ts-snapshots/Visual-Comparison-OrderedList-OrderedList-Default-1-linux.png
  packages/react/src/list/OrderedList/OrderedList.visual.spec.ts-snapshots/Visual-Comparison-OrderedList-OrderedList-Playground-1-linux.png
  packages/react/src/list/UnorderedList/UnorderedList.visual.spec.ts
  packages/react/src/list/UnorderedList/UnorderedList.visual.spec.ts-snapshots/Visual-Comparison-UnorderedList-UnorderedList-Check-List-1-linux.png
  packages/react/src/list/UnorderedList/UnorderedList.visual.spec.ts-snapshots/Visual-Comparison-UnorderedList-UnorderedList-Default-1-linux.png
  packages/react/src/list/UnorderedList/UnorderedList.visual.spec.ts-snapshots/Visual-Comparison-UnorderedList-UnorderedList-Playground-1-linux.png
Labels: brand, update snapshots

#164 Fix Stack children types and responsive alignment
  .changeset/seven-brooms-build.md
  apps/docs/content/components/Stack.mdx
  packages/react/src/Stack/Stack.module.css
  packages/react/src/Stack/Stack.module.css.d.ts
  packages/react/src/Stack/Stack.stories.tsx
  packages/react/src/Stack/Stack.tsx
Labels: update snapshots

#165 Add MinimalFooter component
  .changeset/fast-pigs-greet.md
  apps/docs/content/components/MinimalFooter.mdx
  apps/docs/src/@primer/gatsby-theme-doctocat/nav.yml
  apps/storybook/.storybook/preview.js
  package-lock.json
  packages/design-tokens/scripts/build-tokens.js
  packages/design-tokens/src/tokens/functional/components/footer/colors.json
  packages/e2e/scripts/playwright/playwright.generate-tests.ts
  packages/react/package.json
  packages/react/src/MinimalFooter/MinimalFooter.features.stories.tsx
  packages/react/src/MinimalFooter/MinimalFooter.module.css
  packages/react/src/MinimalFooter/MinimalFooter.module.css.d.ts
  packages/react/src/MinimalFooter/MinimalFooter.stories.tsx
  packages/react/src/MinimalFooter/MinimalFooter.tsx
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Dark-Theme-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Default-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Filtered-Social-Links-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Maximum-Links-5-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Multiple-Footnotes-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-No-Social-Links-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Playground-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-Mobile-viewpo-08774-rt-MinimalFooter-Default-Narrow-viewport-1-linux.png
  packages/react/src/MinimalFooter/index.ts
  packages/react/src/ThemeProvider/ThemeProvider.stories.module.css
  packages/react/src/ThemeProvider/ThemeProvider.stories.module.css.d.ts
  packages/react/src/ThemeProvider/ThemeProvider.stories.tsx
  packages/react/src/ThemeProvider/ThemeProvider.visual.spec.ts-snapshots/Visual-Comparison-ThemeProvider-ThemeProvider-Default-1-linux.png
  packages/react/src/ThemeProvider/ThemeProvider.visual.spec.ts-snapshots/Visual-Comparison-ThemeProvider-ThemeProvider-Nested-1-linux.png
  packages/react/src/css/utilities.css
  packages/react/src/css/utilities.css.d.ts
  packages/react/src/forms/Radio/Radio.visual.spec.ts-snapshots/Visual-Comparison-Radio-Radio-On-Custom-Background-Color-1-linux.png
  packages/react/src/index.ts
  packages/react/webpack.config.js
Labels: update snapshots
