Repository primer/brand, pull requests merged in 2023-04, with the labels that each got.

#216 Hide `Accordion` icons from AT
  .changeset/breezy-pianos-bow.md
  packages/react/src/Accordion/Accordion.module.css
  packages/react/src/Accordion/Accordion.module.css.d.ts
  packages/react/src/Accordion/Accordion.tsx
Labels: update snapshots

#220 Add label component
  .changeset/moody-kings-hope.md
  .changeset/wicked-dingos-rescue.md
  apps/docs/content/components/Card.mdx
  apps/docs/content/components/Label.mdx
  apps/docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  apps/docs/src/@primer/gatsby-theme-doctocat/nav.yml
  package-lock.json
  packages/design-tokens/scripts/build-tokens.js
  packages/design-tokens/src/tokens/functional/components/label/colors.json
  packages/react/src/Button/Button.module.css.d.ts
  packages/react/src/Card/Card.features.stories.tsx
  packages/react/src/Card/Card.module.css
  packages/react/src/Card/Card.module.css.d.ts
  packages/react/src/Card/Card.tsx
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Label-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Stacked-1-linux.png
  packages/react/src/Label/Label.features.stories.tsx
  packages/react/src/Label/Label.module.css
  packages/react/src/Label/Label.module.css.d.ts
  packages/react/src/Label/Label.stories.tsx
  packages/react/src/Label/Label.test.tsx
  packages/react/src/Label/Label.tsx
  packages/react/src/Label/Label.visual.spec.ts
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-Color-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-Default-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-Large-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-Leading-visual-native-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-Playground-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-Small-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-With-an-Octicon-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-With-an-Octicon-and-color-1-linux.png
  packages/react/src/Label/Label.visual.spec.ts-snapshots/Visual-Comparison-Label-Label-With-an-Octicon-large-1-linux.png
  packages/react/src/Label/index.ts
  packages/react/src/index.ts
Labels: update snapshots

#234 [River] Adjust spacing
  .changeset/friendly-ways-agree.md
  packages/react/src/River/River.module.css
  packages/react/src/River/River.visual.spec.ts-snapshots/Visual-Comparison-River-River-Alternating-Layout-1-linux.png
Labels: bug, update snapshots

#229 Image Component
  .changeset/swift-clouds-tell.md
  apps/docs/content/components/Image.mdx
  apps/docs/src/@primer/gatsby-theme-doctocat/nav.yml
  packages/design-tokens/src/tokens/functional/components/image/base.json
  packages/react/src/Image/Image.features.stories.tsx
  packages/react/src/Image/Image.module.css
  packages/react/src/Image/Image.module.css.d.ts
  packages/react/src/Image/Image.stories.module.css
  packages/react/src/Image/Image.stories.module.css.d.ts
  packages/react/src/Image/Image.stories.tsx
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  packages/react/src/Image/Image.visual.spec.ts
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Class-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Class-On-Picture-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Class-With-Aspect-Ratio-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Image-Aspect-Ratio-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Image-Height-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Image-Width-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Image-Width-And-Height-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Custom-Picture-Aspect-Ratio-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Default-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Features-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts-snapshots/Visual-Comparison-Image-Image-Playground-1-linux.png
  packages/react/src/Image/index.ts
  packages/react/src/index.ts
Labels: update snapshots

#240 Add size prop and large variant to Testimonial
  .changeset/three-kids-pay.md
  apps/docs/content/components/Testimonial.mdx
  packages/react/src/Testimonial/Testimonial.module.css
  packages/react/src/Testimonial/Testimonial.module.css.d.ts
  packages/react/src/Testimonial/Testimonial.stories.tsx
  packages/react/src/Testimonial/Testimonial.tsx
  packages/react/src/Testimonial/Testimonial.visual.spec.ts
  packages/react/src/Testimonial/Testimonial.visual.spec.ts-snapshots/Visual-Comparison-Testimonial-Testimonial-Avatar-1-linux.png
  packages/react/src/Testimonial/Testimonial.visual.spec.ts-snapshots/Visual-Comparison-Testimonial-Testimonial-Duo-1-linux.png
  packages/react/src/Testimonial/Testimonial.visual.spec.ts-snapshots/Visual-Comparison-Testimonial-Testimonial-Large-1-linux.png
  packages/react/src/Testimonial/Testimonial.visual.spec.ts-snapshots/Visual-Comparison-Testimonial-Testimonial-Logo-1-linux.png
  packages/react/src/Testimonial/Testimonial.visual.spec.ts-snapshots/Visual-Comparison-Testimonial-Testimonial-Playground-1-linux.png
  packages/react/src/Testimonial/Testimonial.visual.spec.ts-snapshots/Visual-Comparison-Testimonial-Testimonial-Trio-1-linux.png
Labels: update snapshots

#243 Add Card Icon
  .changeset/curly-parents-develop.md
  apps/docs/content/components/Card.mdx
  packages/design-tokens/src/tokens/functional/components/card/colors.json
  packages/design-tokens/src/tokens/functional/components/label/colors.json
  packages/react/src/Card/Card.features.stories.tsx
  packages/react/src/Card/Card.module.css
  packages/react/src/Card/Card.module.css.d.ts
  packages/react/src/Card/Card.stories.tsx
  packages/react/src/Card/Card.test.tsx
  packages/react/src/Card/Card.tsx
  packages/react/src/Card/Card.visual.spec.ts
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Icon-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Icon-And-Label-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Icon-Colors-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Icon-native-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Label-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Playground-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Stacked-1-linux.png
  packages/react/src/Image/Image.visual.spec.ts
  packages/react/src/Label/Label.module.css
  packages/react/src/Label/Label.tsx
  packages/react/src/constants.tsx
Labels: enhancement, update snapshots
