Repository primer/brand, pull requests merged in 2023-05, with the labels that each got.

#253 Add `Card.Image`
  .changeset/cold-apricots-switch.md
  apps/docs/content/components/Card.mdx
  packages/react/src/Card/Card.features.stories.tsx
  packages/react/src/Card/Card.module.css
  packages/react/src/Card/Card.module.css.d.ts
  packages/react/src/Card/Card.test.tsx
  packages/react/src/Card/Card.tsx
  packages/react/src/Card/Card.visual.spec.ts
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Image-1-linux.png
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Image-And-Label-1-linux.png
  packages/react/src/Image/Image.tsx
Labels: enhancement, update snapshots

#260 Prevents column width from overflowing the River component
  .changeset/sweet-zoos-leave.md
  package-lock.json
  packages/react/src/River/River.module.css
  packages/react/src/River/River.visual.spec.ts-snapshots/Visual-Comparison-River-River-60-40-image-ratio-1-linux.png
  packages/react/src/River/River.visual.spec.ts-snapshots/Visual-Comparison-River-River-Larger-Placeholder-Image-1-linux.png
Labels: update snapshots

#254 Update docs to include interface guidelines
  apps/docs/content/components/Avatar/index.mdx
  apps/docs/content/components/Avatar/react.mdx
  apps/docs/package-lock.json
  apps/docs/package.json
  apps/docs/src/components/component-page-nav.tsx
  apps/docs/src/layouts/base-layout.tsx
  apps/docs/src/layouts/component-layout.tsx
Labels: documentation, skip changeset

#262 Add Pillar component
  .changeset/dry-cars-arrive.md
  apps/docs/content/components/Card.mdx
  apps/docs/content/components/Pillar.mdx
  apps/docs/src/@primer/gatsby-theme-doctocat/nav.yml
  package-lock.json
  packages/design-tokens/scripts/build-tokens.js
  packages/design-tokens/src/tokens/functional/components/pillar/colors.json
  packages/react/src/Card/Card.module.css
  packages/react/src/Card/Card.module.css.d.ts
  packages/react/src/Card/Card.tsx
  packages/react/src/Pillar/Pillar.features.stories.tsx
  packages/react/src/Pillar/Pillar.module.css
  packages/react/src/Pillar/Pillar.module.css.d.ts
  packages/react/src/Pillar/Pillar.stories.tsx
  packages/react/src/Pillar/Pillar.test.tsx
  packages/react/src/Pillar/Pillar.tsx
  packages/react/src/Pillar/Pillar.visual.spec.ts
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Default-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Icon-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Icon-Colors-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Icon-native-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Playground-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Stacked-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Stacked-Centered-1-linux.png
  packages/react/src/Pillar/index.ts
  packages/react/src/index.ts
Labels: update snapshots

#236 [River] Responsive spacing
  .changeset/five-ties-kick.md
  packages/design-tokens/scripts/build-tokens.js
  packages/design-tokens/src/tokens/functional/components/river/base.json
  packages/design-tokens/src/tokens/functional/components/river/river.json
  packages/react/src/River/River.module.css
  packages/react/src/River/River.tsx
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-Mobile-view-8d921-for-Mobile-View-SubdomainNavBar-Mobile-View-1-linux.png
Labels: update snapshots

#271 Apply text-decoration none to :hover state for Button and InlineLink
  .changeset/late-eels-look.md
  packages/react/src/AnchorNav/AnchorNav.module.css
  packages/react/src/Button/Button.module.css
  packages/react/src/Card/Card.module.css
  packages/react/src/InlineLink/InlineLink.module.css
  packages/react/src/Link/Link.module.css
  packages/react/src/MinimalFooter/MinimalFooter.module.css
  packages/react/src/SubdomainNavBar/SubdomainNavBar.module.css
Labels: update snapshots

#273 `Label` accessibility fixes
  .changeset/cold-pumas-breathe.md
  packages/design-tokens/src/tokens/functional/components/label/colors.json
  packages/react/src/Label/Label.module.css
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Default-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Icon-Colors-1-linux.png
  packages/react/src/Pillar/Pillar.visual.spec.ts-snapshots/Visual-Comparison-Pillar-Pillar-Playground-1-linux.png
Labels: update snapshots

#288 Fix className forwarding on Hero children
  package-lock.json
  packages/react/src/Hero/Hero.features.stories.tsx
  packages/react/src/Hero/Hero.tsx
  packages/react/src/Hero/Hero.visual.spec.ts
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-Custom-Classnames-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-custom-icon-and-variant-1-linux.png
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Button-Links-1-linux.png
Labels: skip changeset

#278 [Label] Design guidelines
  apps/docs/content/components/Label/index.mdx
  apps/docs/content/components/Label/react.mdx
Labels: skip changeset

#267 [Card] Design guidelines
  apps/docs/content/components/Card/index.mdx
  apps/docs/content/components/Card/react.mdx
  apps/docs/src/components/custom-video-player.tsx
  packages/react/src/Card/Card.features.stories.tsx
  packages/react/src/Card/Card.visual.spec.ts-snapshots/Visual-Comparison-Card-Card-Stacked-1-linux.png
  packages/react/src/River/River.visual.spec.ts-snapshots/Visual-Comparison-River-River-Alternative-Heading-Level-1-linux.png
Labels: skip changeset, update snapshots

#283 [Pillar] Design guidelines
  apps/docs/content/components/Pillar/index.mdx
  apps/docs/content/components/Pillar/react.mdx
  packages/react/src/River/River.visual.spec.ts-snapshots/Visual-Comparison-River-River-Alternative-Heading-Level-1-linux.png
Labels: skip changeset, update snapshots

#280 Minimal Footer Updates
  .changeset/sour-pots-hammer.md
  apps/docs/content/components/MinimalFooter.mdx
  packages/react/src/MinimalFooter/MinimalFooter.features.stories.tsx
  packages/react/src/MinimalFooter/MinimalFooter.module.css
  packages/react/src/MinimalFooter/MinimalFooter.visual.spec.ts-snapshots/Visual-Comparison-MinimalFooter-MinimalFooter-Mixed-Buttons-And-Links-1-linux.png
Labels: update snapshots
