Repository primer/brand, pull requests merged in 2024-08, with the labels that each got.

#671 Update Storybook to 8.2.6 (latest), and move preview deploys to /brand
  .github/workflows/deploy_docs_preview.yml
  .github/workflows/deploy_docs_preview_forks.yml
  apps/docs/package-lock.json
  apps/docs/package.json
  apps/docs/scripts/build-docs
  apps/storybook/.storybook/main.js
  apps/storybook/.storybook/preview.js
  apps/storybook/package.json
  apps/storybook/scripts/build-storybook
  package-lock.json
  package.json
  packages/e2e/scripts/playwright/axe-clean.spec.ts
  packages/e2e/scripts/playwright/playwright.generate-tests.ts
  packages/react/package.json
  packages/react/src/ActionMenu/ActionMenu.features.stories.tsx
  packages/react/src/Link/Link.features.stories.tsx
  packages/react/src/Prose/Prose.stories.tsx
  packages/react/src/VideoPlayer/VideoPlayer.stories.tsx
  packages/react/src/VideoPlayer/VideoPlayer.test.tsx
  packages/react/src/recipes/SolutionTemplates/SolutionPage/SolutionPage.tsx
Labels: update snapshots

#684 Extend Hero heading and description
  .changeset/loud-ties-reply.md
  packages/react/src/Hero/Hero.module.css
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Centered-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Codespaces-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Default-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Eyebrow-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Eyebrow-Centered-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Issues-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-Custom-Classnames-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-Secondary-Action-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-Trailing-Component-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-an-image-centered-bottom-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-an-image-left-bottom-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-an-image-right-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-With-custom-icon-and-variant-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Hero-Without-Description-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Mobile-viewport-test-for-Narrow-View-Centered-Hero-Narrow-View-Centered-1-linux.png
  packages/react/src/Hero/Hero.visual.spec.ts-snapshots/Visual-Comparison-Hero-Mobile-viewport-test-for-Narrow-View-Hero-Narrow-View-1-linux.png
  packages/react/src/SubNav/SubNav.visual.spec.ts-snapshots/Visual-Comparison-SubNav-Mobile-viewport-test-e12be-w-Example-Usage-SubNav-Narrow-Example-Usage-1-linux.png
  packages/react/src/SubNav/SubNav.visual.spec.ts-snapshots/Visual-Comparison-SubNav-SubNav-Example-Usage-1-linux.png
  packages/react/src/SubNav/SubNav.visual.spec.ts-snapshots/Visual-Comparison-SubNav-SubNav-With-Shadow-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Full-Width-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Longer-Title-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-No-Search-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-No-overflow-menu-1-link-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Playground-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Search-Open-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Search-Results-Visible-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Skip-To-Main-Tag-1-linux.png
  packages/react/src/SubdomainNavBar/SubdomainNavBar.visual.spec.ts-snapshots/Visual-Comparison-SubdomainNavBar-SubdomainNavBar-Skip-To-Main-Tag-With-Id-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelOne/FeaturePreviewLevelOne.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelOne-FeaturePreviewLevelOne-Default-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelTwo/FeaturePreviewLevelTwo.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelTwo-FeaturePreviewLevelTwo-2-1-variant-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelTwo/FeaturePreviewLevelTwo.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelTwo-FeaturePreviewLevelTwo-2-2-variant-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelTwo/FeaturePreviewLevelTwo.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelTwo-FeaturePreviewLevelTwo-2-3-variant-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelTwo/FeaturePreviewLevelTwo.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelTwo-FeaturePreviewLevelTwo-2-4-variant-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelTwo/FeaturePreviewLevelTwo.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelTwo-FeaturePreviewLevelTwo-Minimal-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelTwo/FeaturePreviewLevelTwo.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelTwo-FeaturePreviewLevelTwo-Playground-1-linux.png
  packages/react/src/recipes/FeaturePreviewLPs/FeaturePreviewLevelZero/FeaturePreviewLevelZero.visual.spec.ts-snapshots/Visual-Comparison-FeaturePreviewLevelZero-FeaturePreviewLevelZero-Level-0-1-linux.png
  packages/react/src/recipes/SolutionTemplates/CategoryPage/CategoryPage.visual.spec.ts-snapshots/Visual-Comparison-CategoryPage-CategoryPage-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/CategoryPage/CategoryPage.visual.spec.ts-snapshots/Visual-Comparison-CategoryPage-CategoryPage-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Industry/Industry.visual.spec.ts-snapshots/Visual-Comparison-Industry-Industry-Maximum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Industry/Industry.visual.spec.ts-snapshots/Visual-Comparison-Industry-Industry-Maximum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Industry/Industry.visual.spec.ts-snapshots/Visual-Comparison-Industry-Industry-Minimum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Industry/Industry.visual.spec.ts-snapshots/Visual-Comparison-Industry-Industry-Minimum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Size/Size.visual.spec.ts-snapshots/Visual-Comparison-Size-Size-Maximum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Size/Size.visual.spec.ts-snapshots/Visual-Comparison-Size-Size-Maximum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Size/Size.visual.spec.ts-snapshots/Visual-Comparison-Size-Size-Minimum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Size/Size.visual.spec.ts-snapshots/Visual-Comparison-Size-Size-Minimum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Maximum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Maximum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Minimum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Minimum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionsOverview/SolutionsOverview.visual.spec.ts-snapshots/Visual-Comparison-SolutionsOverview-SolutionsOverview-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionsOverview/SolutionsOverview.visual.spec.ts-snapshots/Visual-Comparison-SolutionsOverview-SolutionsOverview-Light-1-linux.png
Labels: update snapshots

#694 Fix broken ComparisonTable columns on screen readers
  .changeset/great-houses-argue.md
  packages/react/src/ComparisonTable/ComparisonTable.module.css
  packages/react/src/ComparisonTable/ComparisonTable.tsx
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Minimum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Minimum-Light-1-linux.png
Labels: update snapshots

#701 Add more guidelines around link usage in River
  apps/docs/content/components/River/images/do-link.png
  apps/docs/content/components/River/images/dont-link.png
  apps/docs/content/components/River/index.mdx
Labels: documentation, skip changeset

#691 Apply opinionated defaults to LogoSuite
  .changeset/silent-scissors-suffer.md
  apps/docs/content/components/LogoSuite/index.mdx
  apps/docs/content/components/LogoSuite/react.mdx
  packages/design-tokens/scripts/build-tokens.js
  packages/design-tokens/src/tokens/functional/components/logosuite/base.json
  packages/react/src/LogoSuite/LogoSuite.features.stories.tsx
  packages/react/src/LogoSuite/LogoSuite.fixtures.tsx
  packages/react/src/LogoSuite/LogoSuite.module.css
  packages/react/src/LogoSuite/LogoSuite.stories.tsx
  packages/react/src/LogoSuite/LogoSuite.test.tsx
  packages/react/src/LogoSuite/LogoSuite.tsx
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Align-Center-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Align-Justified-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Align-Justify-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Align-Start-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Default-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Default-Variant-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Emphasis-Variant-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Following-Hero-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Heading-Hidden-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Muted-Variant-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Only-Heading-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Playground-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Visible-Heading-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Visible-Heading-With-Description-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-With-Emphasis-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-With-Links-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-With-Png-Logos-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-With-Raster-Logos-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Without-Divider-1-linux.png
  packages/react/src/LogoSuite/Logosuite.examples.stories.tsx
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Industry/Industry.visual.spec.ts-snapshots/Visual-Comparison-Industry-Industry-Maximum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Industry/Industry.visual.spec.ts-snapshots/Visual-Comparison-Industry-Industry-Maximum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Size/Size.visual.spec.ts-snapshots/Visual-Comparison-Size-Size-Maximum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/Size/Size.visual.spec.ts-snapshots/Visual-Comparison-Size-Size-Maximum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Maximum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Maximum-Light-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Minimum-Dark-1-linux.png
  packages/react/src/recipes/SolutionTemplates/SolutionPage/UseCase/UseCase.visual.spec.ts-snapshots/Visual-Comparison-UseCase-UseCase-Minimum-Light-1-linux.png
Labels: update snapshots

#705 Fix for logoSuite code connect
  packages/react/src/LogoSuite/LogoSuite.figma.tsx
Labels: skip changeset

#708 Update LogoSuite documentation with examples showing how to set heading level
  apps/docs/content/components/LogoSuite/react.mdx
  packages/e2e/scripts/playwright/playwright.generate-tests.ts
  packages/react/src/LogoSuite/LogoSuite.features.stories.tsx
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Following-Hero-1-linux.png
  packages/react/src/LogoSuite/LogoSuite.visual.spec.ts-snapshots/Visual-Comparison-LogoSuite-LogoSuite-Heading-Level-1-linux.png
Labels: update snapshots

#704 Fix static assets dir in preview/production Storybook and docs
  apps/docs/content/components/VideoPlayer.mdx
  apps/docs/gatsby-node.js
  packages/react/src/VideoPlayer/VideoPlayer.features.stories.tsx
  packages/react/src/VideoPlayer/VideoPlayer.stories.tsx
  packages/react/src/recipes/SolutionTemplates/SolutionPage/SolutionPage.tsx
  packages/react/src/river/RiverStoryScroll/RiverStoryScroll.features.stories.tsx
Labels: update snapshots

#713 Update Figma code connect for LogoSuite component
  .eslintrc.js
  packages/react/src/LogoSuite/LogoSuite.figma.tsx
Labels: skip changeset

#711 Use more semantic elements in SubNav
  .changeset/empty-poems-sort.md
  packages/react/src/SubNav/SubNav.module.css
  packages/react/src/SubNav/SubNav.module.css.d.ts
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/SubNav/SubNav.visual.spec.ts-snapshots/Visual-Comparison-SubNav-Mobile-viewport-test-e12be-w-Example-Usage-SubNav-Narrow-Example-Usage-1-linux.png
  packages/react/src/SubNav/SubNav.visual.spec.ts-snapshots/Visual-Comparison-SubNav-Mobile-viewport-test-for-Full-Width-Narrow-SubNav-Full-Width-Narrow-1-linux.png
  packages/react/src/SubNav/SubNav.visual.spec.ts-snapshots/Visual-Comparison-SubNav-SubNav-Default-1-linux.png
Labels: update snapshots
